<mat-toolbar color="primary">
  <span id="home"><a routerLink="/"> Weather App </a></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a routerLink="/stats" routerLinkActive="router-link-active" class="pages-list"> Statistics </a>
    </li>
    <li>       </li>
    <li *ngIf="userIsAuthenticated">
      <a routerLink="/search" routerLinkActive="router-link-active" class="pages-list"> Cities </a>
    </li>
  </ul>
  <span fxFlex="1 1 auto"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-warn">Sign in</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/register" routerLinkActive="mat-accent">Sign up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
  </mat-toolbar>
