<!-- <span *ngIf="!isLoading"> -->
<mat-grid-list cols="1" rowHeight="6rem">
  <!-- First form -->
  <form (submit)="onFirstSubmit(firstForm)" #firstForm="ngForm">
  <!-- <form [formGroup]="firstForm" id="myForm" novalidate class="needs-validation" (submit)="onFirstSubmit(firstForm)"> <form (ngSubmit)="onLogin(statsForm)" #statsForm="ngForm"> -->
    <mat-grid-tile>
      <mat-form-field class="towns">
        <mat-select placeholder="Select a city"  name="cityId" [(ngModel)]="cityId" required >
          <mat-option>---</mat-option>
          <mat-option *ngFor="let city of cities" value="{{city.id}}">
            {{ city.name }}
          </mat-option>
        </mat-select> 
      <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
      </mat-form-field>
      <!-- <p>City: {{ cityName }}</p> -->
      <mat-divider [vertical]="true"></mat-divider>


        <!-- <label id="example-radio-group-label">Pick your chart: </label> -->
        <mat-radio-group aria-label="Select an option"  name="aggragateFunction" required [(ngModel)]="aggragateFunction"> 
          <mat-radio-button value="Max" >Max</mat-radio-button>
          <mat-radio-button value="Mean" >Mean</mat-radio-button>
          <mat-radio-button value="Min" >Min</mat-radio-button>
          <br>
          <label class="error-label" *ngIf="invalidRadioButton">Please choose an option! </label>
        </mat-radio-group>


      <mat-divider [vertical]="true"></mat-divider>
      <mat-form-field>
      <mat-select placeholder="Select a measurement" name="size" [(ngModel)]="size" required>
        <mat-option>---</mat-option>
        <mat-option value="main_temp">Temperature</mat-option>
        <mat-option value="main_humidity">Humidity</mat-option>
        <mat-option value="wind_speed">Wind</mat-option>
        <mat-option value="clouds_all">Clouds</mat-option>
      </mat-select> 
      </mat-form-field>
      <mat-divider [vertical]="true"></mat-divider>
      <h4>Predifined time values:</h4>
      <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit" (click)='getTimePeriod($event)'>Last hour</button>
        <button mat-raised-button color="primary" type="submit" (click)='getTimePeriod($event)'>Last day</button>
        <button mat-raised-button color="primary" type="submit" (click)='getTimePeriod($event)'>Last week</button>
        <button mat-raised-button color="primary" type="submit" (click)='getTimePeriod($event)'>Last month</button>
      </div>
    </mat-grid-tile>
  </form>
  <!-- Second form -->
  <mat-grid-tile> 
    <label id="example-radio-group-label">Custom time values:</label>  <br>
    <form  #secondForm="ngForm">
      <mat-form-field class="calendar">
        <input matInput  [matDatepicker]="picker" required [(ngModel)]="startDate" name="startDate"   placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDatee"></mat-datepicker>
      </mat-form-field>
    
      <mat-form-field class="calendar">
        <input matInput [matDatepicker]="picker2" required [(ngModel)]="endDate" name="endDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
      <label class="error-label" *ngIf="invalidDatePicker">Please choose a date for each calendar!</label>
    </form>
    <button mat-raised-button color="primary"  (click)="onSecondSubmit(firstForm,secondForm)">Apply</button>
  </mat-grid-tile>

</mat-grid-list>

<div id="container"></div>
<!-- </span> -->
<!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->