mat-divider {
  height: 100px;
  margin: 3rem;
}


/* mat-grid-tile {
  background: lightblue;
} */

/* mat-grid-tile {
  margin: 1rem;
} */

.calendar{
  margin: 1rem;
}

.towns {
  margin-left: 1rem;
}

mat-radio-button {
  margin: 0.5rem;
}