mat-divider {
  height: 100px;
  margin: 3rem;
}

.calendar{
  margin: 1rem;
}

.towns {
  margin-left: 1rem;
}

mat-radio-button {
  margin: 0.5rem;
}

/* input.ng-invalid {
  color: red
} */

.error-label {
  color: red;
}